<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UTM-Saver</title>
    <script type="text/javascript" src="/static/script.js"></script>
    <script type="text/javascript" src="/static/ui.js"></script>
</head>
<body>
    <h1>Main page</h1>
    <a href="/?utm_source=yandex&utm_medium=cpc&utm_campaign={campaign_id}&utm_content={ad_id}&utm_term={keyword}">Add query to save</a>
    <br>
    <br>
    <a href="/page/">Subpage></a>
    <br>
    <br>
    <button id="clear-storage">Clear storage</button>
</body>

</html>